* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pointer{
    cursor: pointer;
}

.main-container{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

/* FRIENDS STYLES */

.left-side-of-app{
    width: 30%;
    height: 100%;
}

.friends{
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-bar{
    height: 10%;
    width: 100%;
}

.friend-list{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.friend {
    height: 50px;
    width: 100%;
    background-color: rgba(250,250,250);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    
}




/* CHAT STYLE */

.chat{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.contact-info{
    width: 100%;
    height: 10%;
}

.chat-info{
    width: 100%;
    height: 80%;
}

.input-info{
    width: 100%;
    height: 10%;
    
}












/* STYLE MENU BAR / SEARCH BAR */

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-bar{
    height: 100%;
    display: grid;
    place-items: center;
    width: 10%;
}



/* STYLE FRIEND LIST */

.friend{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.friend > .photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}


.friend-notification-counter[notifications="0"]{
    display: none;
}










/* CHAT CONTACT INFO */
.contact-info{
    position: relative;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-around; */
    /* height:100%; */
    background-color: rgba(240, 240, 240, 0.9);
}

.contact-info > .photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.contact-info > .text-info {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}

.contact-info > .action-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.contact-info > .action-info > ul > li {
    margin-left: 5px;
    margin-right: 5px;
}


.input-info{
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.input-info > .text-input {
    position: relative;
    width: 50%;
    background:none;
    margin-top: 10px;
    margin-left: 10px;
    /* transform: translateX(100px); */
    /* border: none; */
    height: 50px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
}

.input-info > .text-input > input{
    position: absolute;
    height: 50px;
    font-size: 20px;
    top: 50%;
    transform: translate(5%,-50%);
    width: 90%;
    background: none;
    border: none;
    outline: none;
}

.input-info > .text-input > span {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    margin-top: 3px;
    /* top: 50%; */
    /* transform: translate(2.5%,-50%)  */
}


.file-input{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
     margin-left: 10px;
}


.file-input > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.input-info > .send-button {
    display: grid;
    place-items: center;
}






/* CHAT Style */

.chat-info{
    margin-top: 10px;
    overflow-y: scroll;
}

.date-specifier {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.message {
    cursor: pointer;
}

.message-by-user[read="true"] > span {
    color: blue;
}

.message-by-sender > span {
    display: none;
}

.message-by-user{
    text-align: end;
    margin-right: 10px;
}

.message-by-sender {
    text-align: start;
    margin-left: 50px;
}


.message-content-if > img{
    max-width: 200px;
    max-height: 200px;
}



.message-by-user > .message-content-if{
    display: flex;
    justify-content: end;
}








/* Add New Profile Modal */

.add-new-profile-actions{
    display: flex;
    align-items: end;
}

.add-new-profile-actions > button{
    margin: 0 10px;
}





/* ICONS */

.google-icon-object > svg {
    fill: blueviolet;
}











/* File Upload Inputs */

.file-share-modal > .file-drop-zone {
    width: 100%;
    height: 500px;
    background-color: #c9c9c9;
    display: grid;
    place-items: center;
}

.uploading-preview{
    max-height: 600px;
    max-width: 100%;
    overflow-y: scroll;
}

.uploading-preview > video {
    max-height: 500px;
}

.file-share-modal > .common-dialog-actions{
    position: absolute;
    bottom: 0;
    right: 0;
}

.upload-file-instance {
    margin: 10px;
    display: grid;
    place-items: center;
}

.upload-file-instance > video {
    max-height: 500px;
}


/* Settings */
.settings {
    position: relative;
}
.settings > .cancel-button-container{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.settings-parts{
    margin-top: auto;
    margin-bottom: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}


/* Hide mobile Elements */
.mobile-file-actions{
    display: none !important;
}

.go-back{
    display: none;
}








/* Adding Mobile Supports */

@media (max-width: 768px) {
    .main-container {
        display: block;
    }

    .left-side-of-app{
        width: 100%;
    }

    .main-container[showMessages="true"] > .left-side-of-app {
        display: none;
    }

    .main-container > .chat > .go-back {
        display: none;
    }

    .main-container[showMessages="true"] > .chat > .go-back {
        display: block;
    }

    .chat{
        width: 100%;
        height: 100vh;
    }

    .friends {
        width: 100%;
        height: 100vh;
    }

    .chat >  .go-back {
        position: absolute;
        top: 10%;
        left: 0;
    }

    .chat > .input-info {
        position: absolute;
        bottom: 0;
        height: fit-content;
        justify-content: space-between;
    }

    .main-container > .chat > .input-info {
        display: none;
    }

    .main-container[showMessages="true"] > .chat > .input-info{
        display: flex;
    }

    .chat > .input-info > .file-input {
        display: none;
    }

    .text-input{
        width: 70% !important;
    }

    .chat-info{
        margin-bottom: 10px;
        padding-bottom: 30px;
    }


    .mobile-file-actions{
        display: inline-block !important;
    }
}











/* Common Attributes */
.no-button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.full-width {
    width: 100%;
}